/* Insert your styles here */
/* css information referenced from w3Schools and MDN - Mozilla Developer Network */

/* my original font choices - I gave up trying to get them to work and moved to google fonts instead */
/* Satisfy use for title, Dosis for headings, Roboto for normal text */
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Roboto&family=Satisfy&display=swap");

header {
  margin-top: 40px;
}

section {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
}
#cinemaTitle {
  font-family: "Satisfy", cursive;
  font-size: 7vw;
}

#movieContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
}

#movieContainer div {
  background-color: #3bbced;
  padding: 10px;
}

#movieContainer div .movieTitle {
  background-color: #606060;
  writing-mode: vertical-rl;
}

div.movie {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}

/*
#movieContainer div .movieCards {
  border: 2px red groove;
  background-color: aquamarine;
  padding: 10px;
} */

/* animated movie cards based on Trevors Lecture Notes */
div.movieCards {
  /* border: 5px rgb(255, 0, 251) groove; */
  background-color: #fff;

  box-sizing: border-box;
  height: 40em;
  width: 28em;
  /* height: 600px; */
  /* width: 430px;*/
  /*min-height: 150px;
  min-width: 114px; */
  /* padding: 5px; */

  overflow: auto;
  position: relative;
}

div.movieCards > div {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  box-sizing: border-box;
  /* padding: 5px 10px; */
  position: absolute;
  transition: 4s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

div.movieTitle {
  height: calc(100% - 30px);
  box-sizing: border-box;
  position: relative;
  top: 20px;
}

div.movieFront > img {
  /* front image */

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* border: 4px red groove; */
  transform: rotateY(0deg);
}

div.movieBack {
  /* back */
  /* border: 4px blue groove; */
  box-sizing: border-box;
  transform: rotateY(180deg);
  overflow: auto;
}

div.movieCards:hover > div:nth-child(1) {
  transform: rotateY(180deg);
}
div.movieCards:hover > div:nth-child(2) {
  transform: rotateY(360deg);
}

/* div.movieCards > div > img:nth-child(2) {
  display: block;
  position: absolute;
  top: 46%;
  left: 50%;
  max-height: 75%;
  max-width: 95%;
  transform: translate(-50%, -50%);
}
*/

/* div.movieCard > div > img:nth-child(3) {
  display: block;
  position: relative;
  top: 93%;
  left: 50%;
  max-height: 15%;
  max-width: 50%;
  transform: translate(-50%, -50%);
}
*/

.bookNow {
  font: bold 18px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 0.4em 0.7em 0.4em 0.7em;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  left: 35%;
}
